/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~ngx-bar-rating/themes/br-bootstrap-theme.css';
@import '~ngx-bar-rating/themes/br-horizontal-theme.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

// @import '~ngx-bar-rating/themes/variables.css';
// //@import '~ngx-bar-rating/themes/br-custom-stars-theme.css';
// @import '~ngx-bar-rating/themes/br-default-theme.css';
// @import '~ngx-bar-rating/themes/br-bootstrap-theme.css';
// @import '~ngx-bar-rating/themes/br-fontawesome-theme.css';
// @import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';
// @import '~ngx-bar-rating/themes/br-square-theme.css';
// @import '~ngx-bar-rating/themes/br-horizontal-theme.css';
// @import '~ngx-bar-rating/themes/br-vertical-theme.css';
// @import '~ngx-bar-rating/themes/br-movie-theme.css';
// //@import '~ngx-bar-rating/themes/br-pokemon-theme.css';


   

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

body {
    background: rgb(19, 104, 161);
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff;
}

ul {
    list-style-type:  none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    font-size: 1Sem;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
